// ----------------------------------------------
// Theme Form Style
// ----------------------------------------------

/* Change Autocomplete Styles in WebKit Browsers */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: palette(mono, grey);
  -webkit-box-shadow: 0 0 0px 0px #ffffff inset;
  box-shadow: 0 0 0px 0px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-input-placeholder {
  color: palette(mono, grey);
}

textarea {
  width: 100%;
  resize: none;
  padding: 12px 14px 12px 0;
  border: 0;
  border-bottom: 1px solid palette(blue, base);
  background-color: transparent;
}

input[type="file"] {
	display: none;
}

form {
  label {
    font-size: 11px;
    margin-bottom: 3px;
    font-weight: 400;
    color: black;
    @include mobile{
      font-size: 16px;//////today/////////////25
    }

    &.big-label {
      font-size: 18px;
      color: palette(mono, black);
    }
  }
  &.transparent-input {
    .form-control {
      background-color: transparent;
      border: 1px solid #cfd8dc;
    }
  }
  //  &.Image-container {
  //  .Image-container{
  // 	display:flex;
  // // 		// border: 1px solid #CFD8DC;
  //  }
  //  }
}

.link {
  &__password-reset {
    span {
      display: block;
      font-size: 14px;
      line-height: 24px;
      margin-top: 20px;
      color: palette(blue, base);
    }
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: 0 0 0px palette(blue, base);
}

input::-internal-input-suggested {
  color: palette(mono, black);
}

.input-error {
  color: red;
  font-size: 16px;
}

.form-control {
  border: 0px;
  color: palette(input, text);
  padding: 9px 15px 10px 15px;
  height: 46px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 400;
  border: 1px solid #E6E7E9;
box-sizing: border-box;
border-radius: 4px;
  color: #1C1C1C;

  @include mobile{
    font-size: 13px;//////today/////////////25
  }

  &:focus {
    box-shadow: none;
    color: palette(mono, dark-black);
    background: #ececec;
  }

  &::placeholder {
    color: palette(input, placeholder);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: palette(blue, base);
  }
}

.forgot-link {
  text-align: center;
  display: inherit;
  color: palette(blue, base);
  font-size: 12px;

  @include mobile {
    margin-bottom: 5px
  }
}
.forgot {
  font-size: 12px;
  text-align: center;
  color: #1C1C1C;
}

.link-resetemail {
  @extend .forgot-link;
  float: right;

  @include mobile {
    float: none;
    padding-left: 0;
  }
}

.input-group-prepend {
  .input-group-text {
    // border: 1px solid palette(border, base);
    background-color: transparent;
    padding: 8.5px 12px;
    border-right: 0;
    // border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: palette(input, placeholder);

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.form-group {
  position: relative;
  margin-bottom: 15px;

  .input-group {
    &.input-radius {
      input {
        border-radius: 50px;
      }
    }
  }

  .form-check-label {
    position: relative;
    margin-right: 10px;
  }
}

.c-login-form {
  .form-control {
    font-size: 16px;
  }
}

.form-check-label {
  position: relative;
  margin-right: 10px;
}

.textarea-height-160 {
  min-height: 160px;
}

.form-control:disabled,
.form-control[readonly] {
  pointer-events: none;
}

.rdt .form-control:disabled,
.rdt .form-control[readonly] {
  pointer-events: auto;
  cursor: pointer;
}

// bootstrap alert

.alert {
  padding: 1px 10px;
  margin: 10px 0 20px 0px;
  border-radius: 2px;
  font-size: 12px;

  @include mobile {
    font-size: 12px;
    line-height: 18px;
  }
}

// checkbox css

.form-check {
  padding: 0;

  &.form-check-inline {
    @include mobile {
      margin-bottom: 10px;
    }
  }
}

input[type="checkbox"] + label {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  margin-right: 0px;/////////
}

input[type="checkbox"]:disabled + label {
  cursor: not-allowed;
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid rgba(119, 134, 158, 0.6);
  border-radius: 0.2em;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: transparent;
  transition: 0.2s;
  background-color: palette(mono, white);
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}



///////
// input[type="text"] + label::after {
//   content: '.' attr(datadomain);
//   position: absolute;
//   top: 4px;
//   left: 94px;
//   font-family: arial, helvetica, sans-serif;
//   font-size: 12px;
//   display: block;
//   color: rgba(0, 0, 0, 0.6);
//   font-weight: bold;
// }

input[type="checkbox"]:checked + label:before {
  background-color: palette(mono, white);
  border-color: palette(blue, base);
  color: palette(blue, base);
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: palette(blue, base);
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: palette(blue, base);
  border-color: palette(blue, base);
}

// radio btn css

.form-check {
  padding: 0;
}

input[type="radio"] + label {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

input[type="radio"]:disabled + label {
  cursor: not-allowed;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: "\2714";
  border: 2px solid rgba(119, 134, 158, 0.6);
  border-radius: 50px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: transparent;
  transition: 0.2s;
  font-size: 13px;
  background-color: palette(mono, white);
}

input[type="radio"] + label:active:before {
  transform: scale(0);
}

input[type="radio"]:checked + label:before {
  background-color: palette(blue, base);
  border-color: palette(blue, base);
  color: palette(mono, white);
}

input[type="radio"]:disabled + label:before {
  transform: scale(1);
  border-color: palette(blue, base);
}

input[type="radio"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: palette(blue, base);
  border-color: palette(blue, base);
}

input[type="radio"] + label:after {
  content: "\2714";
  // border: 2px solid palette(mono, white);
  border-radius: 50px;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  color: transparent;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 3px;
  top: 5px;
}

input[type="radio"]:checked + label:after {
  border-color: palette(mono, white);
}

.transparent input[type="radio"] + label:after {
  border-color: transparent;
}

.transparent input[type="radio"] + label:before {
  background-color: transparent;
}

.transparent input[type="radio"]:checked + label:after {
  border-color: palette(mono, white);
}

.transparent input[type="radio"]:checked + label:before {
  background-color: palette(blue, base);
}
