// ----------------------------------------------
// SCROLLBAR
// ----------------------------------------------

/*

::-webkit-scrollbar
{
	width: 9px;
	background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #c1c1c1;
}

::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

*/




